SPOTIFY_CLIENT_ID=12345
SPOTIFY_CLIENT_SECRET=123456
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8383/redirect
SPOTIFY_PLAYLIST_ID=playlist_id
SEATGEEK_CLIENT_ID=12345
SEATGEEK_CLIENT_SECRET=123456
ARTIST_DB=artists.db
CONCERT_DB=concerts.db
STATE_CODE=IL
